# MySQL Server configuration for Pimcore.
# @See https://dev.mysql.com/doc/refman/8.0/en/option-files.html
# @See https://pimcore.com/docs/6.x/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/DB_Setup.html

# Applies to any client connecting to this sever
[client]
default-character-set=utf8mb4

# Applies to mysql cli client application
[mysql]
default-character-set=utf8mb4

# Applies to mysql server
[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
innodb_file_per_table = 1
# Unable to set this without messing with /var/lib/mysql
#lower_case_table_names=1

[mariadb]
# note: optional but recommended
# starting from mariadb 10.1 archive format is no more activated by default 
# (check and adapt for mysql or other database software)
plugin_load_add = ha_archive 
